<li>
    <button (click)="book.imageDisplay = !book.imageDisplay">
        <ng-container *ngIf="book.imageDisplay">Show Book Image</ng-container>
        <ng-container *ngIf="!book.imageDisplay">Hide Book Image</ng-container>
    </button>
    <!-- <button (click)="Showimage(imageDisplay)">{{button}}</button> -->
    <img [src]="book.image_src" [alt]="book.bookname" [hidden]="book.imageDisplay">
    {{ book.bookname }} wirriten by {{ book.auther }}
    <p>{{ book.price | currency:"INR" }}</p>
</li>
