<h1>Get Input field data!</h1>

<label for="name">Name</label> :
<!-- --------------------------------- -->
<!-- To way binding  -->
<!-- --------------------------------- -->
<input type="text" name="name" [(ngModel)]="dataname" placeholder="Enter your name"><span>{{dataname}}</span>
<!-- <input type="text" #inputval name="name" placeholder="Enter your name"><span>{{name}}</span> -->
<!-- <input type="text" #inputval name="name" placeholder="Enter your name" (input)="getValue($event)"><span>{{name}}</span> -->
<!-- <button (click)="getValue(inputval.value)">Get Value</button> -->
<br><br><br><br><br>
<form #basicForm="ngForm" (ngSubmit)="getBasicFormValue(basicForm.value)">
    <h3>Basic and Template driven Form</h3>
    <input type="text" placeholder="Enter Your Name" name="name" ngModel> <br><br>
    <input type="email" placeholder="Enter Your Email" name="email" ngModel> <br><br>
    <input type="password" placeholder="Enter Password" name="password" ngModel> <br><br>
    <button>Submit Basic Form</button>
</form>

<div>
    <h3>Basic and Template driven Form Data</h3>
    <p>{{basicFormData.name}}</p>
    <p>{{basicFormData.email}}</p>
    <p>{{basicFormData.password}}</p>
</div>

<!-- <br><br><br> -->

<form [formGroup]="reactiveForm" (ngSubmit)="getReactiveFormData()">
    <h3>Reactive driven Form</h3>
    <input type="text" placeholder="Enter Your Name" name="name" formControlName="name"> <br>
    <span *ngIf="name && name.invalid && name.touched">This field is required</span>
    <br>
    <input type="email" placeholder="Enter Your Email" name="email" formControlName="email"> <br>
    <span *ngIf="email && email.invalid && email.touched">This field is required</span>
    <br>
    <input type="password" placeholder="Enter Password" name="password" formControlName="password"> <br>
    <span *ngIf="password && password.invalid && password.touched">This field is required</span>
    <br>
    <button [disabled]="reactiveForm.invalid">Submit Basic Form</button>
</form>