<h2 class="m-auto text-center p-2">Edit Data</h2>
<div class="w-75 m-5 bg-light text-center m-auto mt-3 p-2">
    <form [formGroup]="editDataForm">
        <label for="">Todo</label>
        <input type="text" formControlName="todo" class="w-50 form-control m-auto" placeholder="Todo"> <br>
        <label for="">Completed</label>
        <select formControlName="completed" class="w-50 form-control m-auto">
            <option [value]="true">True</option>
            <option [value]="false">False</option>
        </select> <br>
        <label for="">UserId</label>
        <input type="number" formControlName="userId" class="w-50 form-control m-auto" placeholder="UserID"> <br>
        <button mat-dialog-close mat-raised-button color="primary" (click)="updateData()" [disabled]="editDataForm.invalid" class="mx-2">Update Data</button>
        <button mat-dialog-close mat-raised-button color="accent" class="mx-2">Close</button>
    </form>
</div>